<div class="CalendarPage page">
  <div class="menu-bar">
    <div class="title">{{monthYear}}</div>
    <div class="left-button logo"><div class="symbol"></div></div>
    <a href="{{quickstartRoute}}/in" class="right-button shortcut"><div class="symbol"></div></a>
  </div>
  <div class="content">
      <div class="prev button">Prev</div><div class="next button">Next</div>
  </div>

  <div class="left-menu">
      <div class="background"></div>
      <div class="menu-content">
          <div class="title">Crimper v0.1.2</div>
          <div class="description read-only-field">Data entry app for tracking indoor climbing sessions</div>

          <div class="select-button set-grade-system">
              <div class="value">Select grade system</div>
              <select>
                  {{#each gradesystems}}
                    {{#if (equals name ../preferredSystemName)}}
                        <option value="{{ name }}" selected="true">{{ name }} (ex: {{example}})</option>
                    {{else}}
                        <option value="{{ name }}">{{ name }} (ex: {{example}})</option>
                    {{/if}}
                  {{/each}}
              </select>
          </div>


          <div class="button disabled">Edit gym locations</div>
          <div class="button disabled">Export data to CSV</div>
          <a href="/deletedb" class="button">Delete all your data</a>
          <a href="http://www.jsyang.ca" class="button">Visit developer's site</div>
      </div>
  </div>
</div>
