<div class="CheckInPage page">
  <div class="menu-bar">
    <div class="title">Check In</div>
    <a href="{{ dayRoute }}" class="back left-button"><div class="logo"></div></a>
  </div>
  <div class="content">
    <div class="location">
      <div class="label"></div>
      <div class="value"></div>
      <select>
        {{#each locations}}
          <option value="{{ id }}">{{ name }}</option>
        {{/each}}
      </select>
    </div>

    <div class="date">
      <div class="label"></div>
      <div class="value">
        {{ dateString }}
      </div>
    </div>

    <div class="time">
      <div class="label"></div>
      <div class="value">
        {{#currentTime}}{{/currentTime}}
      </div>
    </div>

    <div class="feeling">
      <div class="label">Feeling</div>
      <div class="value" data-id="0"></div>
    </div>

    <div class="note">
      <div class="label"></div>
      <input type="text" class="value"/>
    </div>

    <a href="{{ dayRoute }}/in" class="check-in button">
      Check in!
    </a>
  </div>
</div>
