<div class="CheckInPage page">
    <div class="menu-bar">
        <div class="title">{{ dateString }}</div>
        <a href="{{ dayRoute }}" class="back left-button"><div class="symbol"></div></a>
    </div>
    <div class="content">

        <div class="location select-dropdown">
            <div class="label"></div>
            <div class="value"></div>
            <select>
                {{#each locations}}
                <option value="{{ id }}">{{ name }}</option>
                {{/each}}
            </select>
        </div>

        <div class="time read-only-field">
            <div class="label"></div>
            <div class="value">{{currentTime}}</div>
        </div>

        <div class="feeling-note read-only-field">
            <div class="label button" data-value=""></div>
            <input type="text" class="value" placeholder="Status / feeling"/>
        </div>

        <a href="{{ dayRoute }}/in" class="check-in button">
            Check in!
        </a>
    </div>
</div>
