<div class="DayPage page {{ status }} {{ today }}">
    <div class="menu-bar">
        <div class="title">{{dateString}}</div>
        <a href="/" class="back left-button"><div class="symbol"></div></a>

        {{#if (equals status "checked-in") }}
            <a class="more right-button"><div class="symbol"></div></a>
        {{/if}}
    </div>

    <div class="content">
        {{#if (equals status "")}}
            <a href="{{ route }}/in" class="check-in button">Check in</a>
            <div class="check-in-tip">
                Check into your gym to start logging your climbs!
            </div>
        {{/if}}

        {{#if (equals status "checked-in") }}
            <a href="{{ ../route }}/out" class="check-out button">Check out</a>

            <div class="climb-header">
                <div class="wins">Wins</div>
                <div class="losses">Losses</div>
            </div>
        {{/if}}

        {{#climbEntries climbs}}{{/climbEntries}}
    </div>

    <div class="right-menu">
        <div class="background"></div>
        {{#if (equals status "checked-in")}}
            <div class="left-hint">
                <div class="bar"></div>
            </div>
            Tap the <b>left</b> side of the bar to log a successful graded climb.

            <div class="right-hint">
                <div class="bar"></div>
            </div>
            Tap the <b>right</b> side of the bar to log an unsuccessful graded climb.

            <div class="name-hint">
                <div class="bar"></div>
            </div>
            Tap the grade name (e.g. V5) to delete your most recent climb entry for that grade.
        {{/if}}
    </div>
</div>
