<div class="ClimbEntry {{#if nodata}}no-data{{/if}}" id="{{ id }}">
  <div class="name">{{ name }}</div>
  <div class="ratio-bar">
    <div class="filled" style="width: {{ percent }}%; "></div>
    <div class="left">{{ wins }}</div>
    <div class="right">{{ losses }}</div>
  </div>
</div>
